<link rel="stylesheet" href="css/interior/proyectos/proyectos.css" type="text/css" />
<section id="pueblo_libre" class="proyectos">
	<section class="pueblo_libre_portada base_interior">
		<div class="img_portada"></div>
		<section class="container">
			<div class="logo-pueblo-libre"></div>
			<div class="img_content_title">
				<h3>FIRENZE RESIDENCIAL</h3>
				<h1>PUEBLO LIBRE</h1>
			</div>
		</section>
	</section>
	<section class="content_proyectos">
		<section class="caracteristica_proyectos container">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="caract">
					<p>680 <span>m2</span></p>
					<h4>Área</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>19</p>
					<h4>Pisos</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>76</p>
					<h4>Dptos</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>65</p>
					<h4>Disponibles</h4>
				</div>
			</div>
			<div class="col-md-2"></div>
		</section>
	</section>
	<section class="text_proyectos container">
			<div class="col-md-4 resumen_text_proyectos">
				<p>DONDE<br>EL PRECIO <span>NO</span><br> ES UN <span>FRENO</span></p>
			</div>
			<div class="col-md-8 description_text_proyectos">
				<p>Privilegiadamente ubicado en 
				<span>el corazón del tradicional distrito de Pueblo Libre</span>, Firenze Residencial ofrece a sus residentes fácil acceso a los principales distritos de Lima, así como a uno de los enclaves comerciales <span>más modernos y dinámicos de la ciudad</span>, creando para ti la combinación perfecta entre tradición y modernidad, donde <span>tú y tu familia serán los protagonistas de su propio espacio.</span></p>
			</div>
		</section>
</section>