<link rel="stylesheet" href="css/interior/proyectos/proyectos.css" type="text/css" />
<section id="pueblo_libre" class="proyectos">
	<section class="pueblo_libre_portada base_interior">
		<div class="img_portada"></div>
		<section class="container">
			<div class="logo-pueblo-libre"></div>
			<div class="img_content_title">
				<h3>FIRENZE RESIDENCIAL</h3>
				<h1>PUEBLO LIBRE</h1>
			</div>
		</section>
	</section>
	<section class="content_proyectos">
		<section class="caracteristica_proyectos container">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<div class="caract">
					<p>680 <span>m2</span></p>
					<h4>Área</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>19</p>
					<h4>Pisos</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>76</p>
					<h4>Dptos</h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="caract">
					<p>65</p>
					<h4>Disponibles</h4>
				</div>
			</div>
			<div class="col-md-2"></div>
		</section>
		<section class="text_proyectos container">
			<div class="col-md-4 resumen_text_proyectos">
				<p>DONDE<br>EL PRECIO <span>NO</span><br> ES UN <span>FRENO</span></p>
			</div>
			<div class="col-md-8 description_text_proyectos">
				<p>Privilegiadamente ubicado en 
				<span>el corazón del tradicional distrito de Pueblo Libre</span>, Firenze Residencial ofrece a sus residentes fácil acceso a los principales distritos de Lima, así como a uno de los enclaves comerciales <span>más modernos y dinámicos de la ciudad</span>, creando para ti la combinación perfecta entre tradición y modernidad, donde <span>tú y tu familia serán los protagonistas de su propio espacio.</span></p>
			</div>
		</section>
		<section class="departamentos_proyectos">
			<div class="departamentos_det_aca container">
				<h2>TIPOS DE DEPARTAMENTOS</h2>
				<div class="detalle_caracteristica">
					<article class="col-md-2"></article>
					<article class="col-md-2 car_depa carac_1">
						<span>FLAT</span>
						<p>51<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2 car_depa carac_2">
						<span>FLAT</span>
						<p>74<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2 car_depa carac_3">
						<span>FLAT</span>
						<p>64<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2 car_depa carac_4">
						<span>FLAT</span>
						<p>77<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2"></article>
					<article class="col-md-3"></article>
					<article class="col-md-2 car_depa carac_5">
						<span>FLAT</span>
						<p>40<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2 car_depa carac_6">
						<span>FLAT</span>
						<p>65<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-2 car_depa carac_7">
						<span>FLAT</span>
						<p>80<span>mt<sup>2</sup></span></p>
					</article>
					<article class="col-md-3"></article>
				</div>
				<div class="btn">DETALLES Y ACABADOS</div>
			</div>
		</section>
		<section class="galeria_proyectos">
			<div class="galeria_fotos container">
				<h2>GALERÍA DE FOTOS</h2>
				<div class="detalle_fotos">
					<!--<article class="col-md-2"></article>-->
					<article class="col-md-4">
						<div class="item_galeria img_galeria_1">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
					<article class="col-md-4">
						<div class="item_galeria img_galeria_2">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
					<article class="col-md-4">
						<div class="item_galeria img_galeria_3">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
					<article class="col-md-4">
						<div class="item_galeria img_galeria_4">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
					<article class="col-md-4">
						<div class="item_galeria img_galeria_5">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
					<article class="col-md-4">
						<div class="item_galeria img_galeria_6">
							<div class="mask">
								<div class="ico_lupa"></div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
		<section class="ubicanos_proyectos">
			<div class="ubicanos_contenidos container">
				<h2>UBÍCANOS</h2>
				<div class="ubicanos_formulario">
					<div class="col-md-4 block_1">
						<p><span>Dirección:</span> Av. Manuel Dulanto 1464</p>
						<br>
						<p><span>Distrito:</span> Pueblo Libre</p>
						<br>
						<p><span>Teléfono:</span> (511) (94) 641*3226</p>
						<br>
						<p><span>Correo:</span> contactos@avenir.com.pe<br></p>
						<br>
					</div>
					<div class="col-md-4 block_2">
						<p>Listado de acabado de dpto</p>
						<div class="btn">PRECIO</div>
						<div class="btn">TRANSPARENCIA</div>
					</div>
					<div class="col-md-4 block_3">
						<p>Financiamiento</p>
						<div class="img_bbva"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="mapa_proyectos">
			<div class="container">
				<div class="col-md-7 center-block text-center"></div>
				<div class="col-md-4 center-block text-center contact_proyectos">
					<h3>CONTÁCTANOS</h3>
					<div class="row">
						<div class="col-md-12 center-block">
							<form action="" class="form-horizontal ng-pristine ng-valid">
								<div class="form-group">
								    <div class="col-sm-12">
								      <input type="text" class="form-control button-1" placeholder="Nombre">
								    </div>
							  	</div>
							  	<div class="form-group">
								    <div class="col-sm-12">
								      <input type="email" class="form-control button-1" placeholder="E-mail">
								    </div>
							  	</div>
							  	<div class="form-group">
								    <div class="col-sm-12">
								      <input type="email" class="form-control button-1" placeholder="Teléfono">
								    </div>
							  	</div>
							  	<div class="form-group">
								    <div class="col-sm-12">
							      		<textarea class="form-control button-1" cols="30" rows="10" placeholder="Escriba un comentario"></textarea>
							      		<!--<input type="text" class="form-control coment"  placeholder="Escriba un comentario">-->
							    	</div>
							  	</div>
							  	<div class="form-group">
								    <div class="col-sm-7"></div>
								    <div class="col-sm-5">
							      		<input type="submit" class="form-control send_proyectos"  value="Enviar">
							    	</div>
							  	</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</section>
	</section>
</section>