#quienes_somos .quienes_portada .img_portada{background-image: url("../../img/interior/quienes-somos/quienes-somos-avenir.jpg");background-repeat: no-repeat;background-position: center;background-size: cover;height: 400px;width: 100%;}
#quienes_somos .quienes_portada .container{color: #fff;position: relative;top: -260px;}
#quienes_somos .quienes_portada h1{font-family: open_sansbold;font-size: 3em;float: right;margin: 0px 0px;margin-right: 5.3%;}

#quienes_somos .quienes_text p{color: #6d6d6d;font-family: open_sanslight;font-size: 17px;line-height: 28px;margin: 0 auto;text-align: center;width: 815px;}
#quienes_somos .quienes_text p .sp_1{color: #1E96B9;}
#quienes_somos .quienes_text p .sp_2,#quienes_somos .quienes_text p .sp_3{color: #fb5008}
#quienes_somos .quienes_text p .sp_3{text-decoration: underline;}

#quienes_somos .quienes_estrategica{background: rgba(0,105,126,0.7);color: #fff;;font-family: open_sanslight;min-height: 670px;}
#quienes_somos .quienes_estrategica h2{font-family: open_sansbold}
#quienes_somos .quienes_estrategica .img_estrategia{background-repeat: no-repeat;border: 1px solid #00bdff;margin: 0 auto;height: 231px;width: 231px;}
#quienes_somos .quienes_estrategica .img_mision_avenir{background-image: url("../../img/interior/quienes-somos/mision-avenir.jpg");}
#quienes_somos .quienes_estrategica .img_vision_avenir{background-image: url("../../img/interior/quienes-somos/vision-avenir.jpg");}
#quienes_somos .quienes_estrategica .container{padding: 15.5% 0%;}